# Environment variables
.env
.env.local
.env.*

# Node
node_modules/
npm-debug.log*

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/
/artifacts/

# OS specific
.DS_Store
Thumbs.db
